In [130]:
import pandas as pd

# Read both CSV files
mechanical_df = pd.read_csv('/Users/vasantsaladi/Documents/GitHub/nj_transit_data_ru_hack/data/Combined/mechanical_cancellations.csv')
rail_df = pd.read_csv('/Users/vasantsaladi/Documents/GitHub/nj_transit_data_ru_hack/data/Combined/merged_rail_data.csv')

# Print column names to verify


# Drop the CANCELATIONS column from rail_df (update with correct column name)
rail_df = rail_df.drop('CANCEL_TOTAL', axis=1)  # You'll need to update this line based on the actual column name

print(rail_df.columns)

# Merge the dataframes on YEAR and MONTH
merged_df = pd.merge(mechanical_df, rail_df, 
                    on=['YEAR', 'MONTH'],
                    how='inner')

# Reorder columns to a logical sequence
merged_df = merged_df[['YEAR', 'MONTH','CANCEL_COUNT' ,'TOTAL', 
                      'COUNT', 'PERCENTAGE', 'MDBF']]

# Sort by date
merged_df = merged_df.sort_values(['YEAR', 'MONTH'])

merged_df

# Save the merged dataset

Index(['YEAR', 'MONTH', 'COUNT', 'TOTAL', 'PERCENTAGE', 'MDBF'], dtype='object')

    YEAR     MONTH  TOTAL  COUNT  PERCENTAGE   MDBF
0   2017     APRIL  17188  14974        87.1  87172
1   2017    AUGUST  18866  17604        93.3  81472
2   2017  DECEMBER  18226  16458        90.3  82929
3   2017  FEBRUARY  16765  15596        93.0  84826
4   2017   JANUARY  18271  17036        93.2  83609
..   ...       ...    ...    ...         ...    ...
87  2024   JANUARY  18404  16452        89.4  66050
88  2024      JULY  18772  16486        87.8  53024
89  2024      JUNE  17626  14666        83.2  55317
90  2024     MARCH  18346  17070        93.0  60634
91  2024       MAY  18564  16616        89.5  58571

[92 rows x 6 columns]